[submodule "sources_non_forked/YouCompleteMe"]
	path = sources_non_forked/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "sources_non_forked/emmet-vim"]
	path = sources_non_forked/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "sources_non_forked/vim-jsx"]
	path = sources_non_forked/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "sources_non_forked/tern_for_vim"]
	path = sources_non_forked/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "sources_non_forked/gruvbox"]
	path = sources_non_forked/gruvbox
    url = https://github.com/morhetz/gruvbox
[submodule "sources_non_forked/auto-pairs"]
	path = sources_non_forked/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "sources_non_forked/tabular"]
	path = sources_non_forked/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "sources_non_forked/vim-markdown"]
	path = sources_non_forked/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "sources_non_forked/vim-youdao-translater"]
	path = sources_non_forked/vim-youdao-translater
	url = https://github.com/ianva/vim-youdao-translater
[submodule "sources_non_forked/vim-es6"]
	path = sources_non_forked/vim-es6
	url = https://github.com/isRuslan/vim-es6
[submodule "sources_non_forked/vimshell"]
	path = sources_non_forked/vimshell
	url = https://github.com/Shougo/vimshell.vim
[submodule "sources_non_forked/vimproc"]
	path = sources_non_forked/vimproc
	url = https://github.com/Shougo/vimproc.vim
[submodule "sources_non_forked/unite.vim"]
	path = sources_non_forked/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "sources_non_forked/vim-jsdoc"]
	path = sources_non_forked/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc
[submodule "sources_non_forked/vim-easymotion"]
	path = sources_non_forked/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "sources_non_forked/suppertab"]
	path = sources_non_forked/suppertab
	url = https://github.com/ervandew/supertab
[submodule "sources_non_forked/vim-snipmate"]
	path = sources_non_forked/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
